
body {
    font-family: sans-serif;
}
.hierarchy {
    display: flex;
    flex-direction: column;
    width: 100vw;


    margin: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;

    position:absolute;
    top: 0px;
    z-index: -999;
}

.hierarchy span{
    width: 50%;
    text-align: center;
}
.inputArea {
    /* z-index: 999; */
    width: fit-content;
}

#headline {
    font-size: 24px;
}

#subhead {
    font-size: 20px;
}
#body {
    font-size: 16px;
}