
body {
    font-family: 'ABCDiatype';
    font-weight: 300;
    overflow: hidden;

}
#container {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;

    height: 100vh;
}
.column-left{
    width: 30%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.column-right{
    width: 70%;
}
.hierarchy {
    display: flex;
    flex-direction: column;
    gap:10px;

    margin: auto;
    justify-content: center;
    align-items: center;

    height: 100%;

}

.hierarchy span{
    font-family: Helvetica;
    width: 75%;
    text-align: center;
}
.inputArea {
    /* z-index: 999; */
    width: fit-content;
}

#headline {
    font-size: 24px;
}

#subhead {
    font-size: 20px;
}
#body {
    font-size: 16px;
}

h2{
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 2px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

select, button{
    font-family: 'ABCDiatype';
}

.styled-slider, select{
    width: 10vw;
}

#sizeSliders div, #fontSelect div, #caseSelect div, #letterspacingSliders div {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 3px;
    font-size: 0.9em;
}

select {
    margin-bottom: 5px;
}

.styled-slider {
    margin-top: 0px;
}

h1 {
    font-weight: 500;
    margin-bottom: 10px;
}